body {
    background-color: black;
}

h1 {
    color: aqua;
}

h2 {
    color: black;
    font-size: larger;
    vertical-align: middle;
}

.keyboard {
    display: flex;
}

.piano-key {
    background-color: ivory;
    border-radius: 100%;
    margin: 5px;
    padding: 1em;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}